.body {
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
    width: 100%;
    height: 410px;
}

.header {
    color: #161823;
    font-family: 'SofiaPro';
    font-size: 32px;

    margin-bottom: 24px;
    font-weight: bold;
    text-align: center;
}

.text {
    color: #16182380;
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 15px;
    width: 375px;
    text-align: center;
    white-space: normal;
    overflow: initial;
    padding: 16px 30px;
}

.link {
    color: #161823;

    &:hover {
        text-decoration: underline;
    }
}

.more {
    padding: 0 8px 8px;
    font-size: 18px;
    cursor: pointer;

}


.footer {
    width: 100%;
    color: #161823;
    font-family: var(--font-family);
    height: 64px;
    border-top: 1px solid rgba(22, 24, 35, 0.122);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    line-height: 18px;
}

.change {
    color: var(--pr-cl);
    margin-left: 4px;

    &:hover {
        text-decoration: underline;
    }
}

// Item Login
.item {
    width: 375px;
    flex-shrink: 0;
    color: #161823;
    font-family: var(--font-family);
    font-weight: 600;
    border: 1px solid rgba(22, 24, 35, 0.122);
    font-size: 15px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    position: relative;
    cursor: pointer;
    margin-bottom: 16px;
    white-space: nowrap;
    background: #fff;
}

.item-title {
    flex: 1;
    text-align: center;
}