.wrapper {
  width: 700px;
  padding-top: 24px;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family), system-ui;
}

.heading {
  padding: 0px 24px;
  width: 100%;
  text-align: left;
  font-size: 2.4rem;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  padding: 0px 32px;
  color: #161823;
  flex: 0 0 auto;
  order: 0;
  -webkit-box-flex: 0;
  word-break: break-word;
  margin-bottom: 16px;
}

.desc {
  margin-top: 8px;
  width: 100%;
  padding: 0px 24px;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 24px;
}

.text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  overflow: hidden;
  white-space: normal;
  margin: 16px 0;
}
