.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  max-height: 300px;
  overflow-y: auto;
}

.item {
  display: flex;
  padding: 8px;
  background-color: var(--white);
  transition: background-color linear 0.1s;
  text-overflow: inherit;
  overflow: initial;
}

.item:hover {
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: 4px;
}

.icon {
  width: 26px;
  height: 26px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  color: var(--white);
}

.title {
  font-weight: 600;
  width: 200px;
}

.btn {
  font-size: 2.4rem;
  align-items: center;
  width: 100%;
  margin: 4px 0;
  background-color: var(--white);
  transition: background-color linear 0.1s;
}

.btn:hover {
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: 4px;
}
