.menu-item {
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 8px;
    align-items: center;
    font-family: var(--font-family);
    border-radius: 4px;
    transition: background-color ease-in 0.2s;

    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.title {
    margin-left: 12px;

}

.icon {
    display: block;
}

.active-icon {
    display: none;
}


.active {
    color: var(--pr-cl);

    & .icon {
        display: none;

    }

    & .active-icon {
        display: block;
    }
}