.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.item {
    margin: 8px;
    width: 315px;

}

.body {
    width: 315px;
    height: 178px;
    border-radius: 4px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    padding: 0px 8px;
    // filter: brightness(1);

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: all 0.2s linear;


    &:hover {
        // filter: brightness(0.5);
        background: rgba(0, 0, 0, 0.6);

        &+.play {
            opacity: 1;
        }

    }
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-size: 4rem;
    opacity: 0;
    transition: all 0.2 linear;
}

.video {
    width: 200px;
    height: 100%;
    object-fit: cover;
}

.status {
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    // width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        height: 20px;
        background-image: linear-gradient(131.17deg, #ff1764, #ed3495);
        border-radius: 2px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        display: inline-flex;
        align-items: center;
        line-height: 20px;
        text-align: center;
        padding: 0px 4px;
    }
}

.watcher {
    height: 19px;
    padding: 1px 5px;
    background: #0009;
    border-radius: 2px;
    line-height: 19px;
    font-family: var(--font-family);
    font-weight: 600;
    color: #fff;
}

.info {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.desc {
    margin-left: 6px;
}

.title {
    display: -webkit-box;
    font-size: 16px;
    line-height: 16px;
    max-height: 44px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    cursor: pointer;
    color: #161823;

}

.nickname {
    margin-top: 2px;
    line-height: 8px;
    color: #16182380;
    cursor: pointer;
}