.wrapper {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  flex: 1;
  margin-left: 12px;
}

.name {
  font-size: 1.6rem;
  font-weight: 600;
}

.check {
  margin-left: 6px;
  color: #20d5ec;
}
