.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.502);
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    background-color: var(--white);
    width: 483px;
    height: 482px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 8px;
    animation: Modal ease-in 0.2s;
}

@keyframes Modal {
    from {
        transform: scale(0.4);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


.btn {
    width: 100%;
    height: unset;
    height: 36px;
}

.close {
    position: absolute;
    top: 12px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    right: 12px;
    width: 36px;
    height: 36px;
    font-size: 1.8rem;
    background: rgba(22, 24, 35, 0.031);
}