@import 'normalize.css';

:root {
    --pr-cl: #fe2c55;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
    --back: #000;
    --text-cl: #333;
    --font-family: 'ProximaNova', sans-serif;
    --white: #fff;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: (--font-family);

}




body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-cl);
    overflow-y: overlay;
}

// Scroll Bar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 6px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #1618230f;
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #0000;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    background-color: transparent;
}

a {
    color: var(--text-cl);
    text-decoration: none;
}

// Fonts Embedded
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: Sofiapro;
    src: url('/assets/fonts/sofiapro-semibold.otf');
    font-weight: 700;
}

// Custom Tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1rem;
        line-height: 2.2rem;
        background-color: #545454eb;

    }

    .tippy-arrow {
        color: #545454eb;
    }

    .tippy-content {
        padding: 8px 9px;
    }
}

p,
span,
a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}