@import 'normalize.css';
@import url('https://use.typekit.net/waz4tsx.css');


:root {
    --pr-cl: #fe2c55;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --back: #000;
    --text-cl: #333;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: ibm-plex-sans, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-cl);


}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-cl);
    text-decoration: none;
}