.wrapper {
    background-color: var(--white);
    border-radius: 9px;
    width: 310px;
}

.show {
    animation: show 0.3s ease-in-out;
}

@keyframes show {
    from {
        opacity: 0;
        transform: scale(0.3);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}

.heading {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #161823;
    word-break: break-word;
    text-align: center;
    padding-top: 24px;
}

.note {
    margin-top: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 18px;
    word-break: break-word;
    text-align: center;
    color: #16182380;
    padding-bottom: 24px;
    white-space: normal;
    overflow: initial;
}

.discard,
.continue {
    width: 100%;
    padding: 16.5px 16px 17px;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 18px;
    border-top: 1px solid #1618231f;
    word-break: break-word;
    cursor: pointer;
}

.discard {
    color: var(--pr-cl);

}